<!DOCTYPE html>
<html>
<head> <% include ./head %> </head>
<body>
<% include ./header %>

    <a class="btn" href="/additem">Add New Item</a>

    <div class="card">

    <table class="highlight">
        <tr>
            <th>book</th><th>authour</th><th>price</th>
            <th>AddedBy</th> <th>Likes</th>
        </tr>

        <% items.forEach(function(item){  %>

<tr>
<td><a href="<%= item.url%>" target="opensim"><%= item.bookname %></a></td>
    <td><%= item.authour %></td>
    <td><%= item.price %></td>
    <td><%= item.addedBy%></td>
     <td><%= item.likes%></td>
    <td>
        <a href="/like?book=<%= item.bookname %>"><i class="material-icons">favorite</i></a>
        <a href="/delete?book=<%= item.bookname %>"><i class="material-icons">delete</i></a>
    </td>

</tr>
        <% }) %>
    </table>

    </div>

<% include ./footer %>
</body>
</html>
